/* Color styles */
/* Text-size styles */
.checkbox {
  width: 18px;
  height: 18px;
  border: 1px solid #013bea;
  border-radius: 2px;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}

.checkbox.checked {
  background: #013bea;
}

.deleteBtn {
  background: #ff3c00;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  font-size: 12px;
  line-height: 18px;
  padding: 4px 10px;
  width: 71px;
}

.cartMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.cartMain h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 54px;
}

.cart {
  display: grid;
  grid-template-columns: 732px 475px;
  gap: 73px;
}

.cartProduct {
  width: 100%;
  border: 1px solid #d1caca;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 54px 51px;
}

.cartProductTop {
  display: grid;
  grid-template-columns: 18px 1fr 71px;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
  padding: 10px 0 14px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 58px;
}

.cartProductTop input, .cartProductList ul li input {
  display: none;
}

.cartProductList ul li {
  display: grid;
  grid-template-columns: 18px 144px 1fr 66px;
  align-items: start;
  gap: 20px;
}

.cartThumb {
  width: 144px;
  height: 144px;
  background: linear-gradient(135deg, 0% #fff, 25% #f9f9f9, 50% #fff, 75% #f9f9f9, 100% #fff);
  border: solid 1px #f6f6f6;
  border-radius: 10px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.cartDesc {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cartDesc h4 {
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
}

.cartDesc p:first-of-type {
  font-size: 12px;
  line-height: 18px;
}

.cartDesc p:last-of-type {
  font-size: 12px;
}

.productPrice {
  font-size: 18px;
}

.cartBtns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.countBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7px;
  width: 66px;
  height: 26px;
  border: 1px solid #013bea;
  border-radius: 4px;
}

.countBtn * {
  font-size: 12px;
}

.cart > div + div {
  display: flex;
  flex-direction: column;
  gap: 63px;
}

.price {
  width: 100%;
  height: 389px;
  border: 1px solid #d1caca;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 27px 52px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.price h3 {
  font-size: 24px;
  line-height: 45px;
  font-weight: bold;
}

.price dl {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  gap: 20px;
}

.price dl * {
  font-size: 15px;
}

.price dl dd {
  text-align: right;
}

.price dl dd:nth-child(4) {
  color: #2323fd;
}

.price hr {
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.5);
}

.price > span, .price > span span {
  font-size: 18px;
  font-weight: bold;
  align-self: flex-end;
}

.price a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 371px;
  height: 62px;
  padding: 22px 102px;
  border-radius: 10px;
  background: #013bea;
  color: #fff;
  font-weight: bold;
}

.price a span {
  color: #fff;
  font-weight: bold;
}

.gauge {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gauge h3, .gauge h3 span {
  font-size: 18px;
  font-weight: bold;
}

.progressbar {
  position: relative;
  width: 100%;
  height: 20px;
  border: 1px solid #324b96;
  border-radius: 10px;
  overflow: hidden;
}

.progressbar .bar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  background: rgba(50, 75, 150, 0.6);
}

.gauge > span {
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  align-self: flex-end;
}

.goSignUp {
  width: 100%;
  border: 1px solid #d1caca;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 27px 51px;
}

.goSignUp h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 45px;
}
.goSignUp h3 span {
  color: #ff3c00;
}

.goSignUp .deleteBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 62px;
  font-size: 18px;
  color: #fff;
  border-radius: 10px;
  margin-top: 24px;
}

.moreProduct {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.moreProduct > div {
  display: flex;
  flex-direction: column;
  gap: 54px;
}

.moreProduct .slideHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moreProduct .slideHeader h3, .moreProduct .slideHeader h3 span {
  font-size: 18px;
  font-weight: bold;
}

.slideBtn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.slideBtn button {
  width: 32px;
  height: 24px;
  border: 1px solid #013bea;
  border-radius: 4px;
  background: none;
}

.slideBtn button span {
  font-size: 12px;
  line-height: 12px;
  color: #000000;
}

.recommend ul li {
  width: 305px;
  height: 414px;
}
.recommend ul li img {
  width: 305px;
  height: 294px;
  border: solid 1px #f6f6f6;
  border-radius: 10px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.moreDesc {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.moreDesc h4 {
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
}
.moreDesc p {
  font-size: 12px;
  line-height: 18px;
}
.moreDesc .priceInfo {
  margin-top: 18px;
}
.moreDesc .priceInfo span {
  font-size: 15px;
  line-height: 18px;
}
.moreDesc .priceInfo span span {
  font-size: 18px;
  font-weight: bold;
}
.moreDesc .priceInfo span span.discount {
  color: #ff3c00;
}
.moreDesc .priceInfo > span:first-of-type {
  color: #ff3c00;
}

.moreViewBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 192px;
  height: 40px;
  border: 1px solid #c3c3c3;
  border-radius: 26.5px;
  justify-self: center;
  align-self: center;
}/*# sourceMappingURL=cart.css.map */