/* Color styles */
/* Text-size styles */
main .container {
  width: 100%;
}
main .kcpGrid {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}
main .kcpLeft,
main .kcpRight {
  width: 620px;
}
main .kcpLeft h2 {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  line-height: 45px;
  letter-spacing: 0.05em;
  margin: 0 0 54px;
  text-transform: uppercase;
  text-align: center;
}
main .kcpLeft .orderBox {
  width: 100%;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(215, 215, 215);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 54px 51px;
  border-radius: 10px;
}
main .kcpLeft .orderList {
  margin: 0;
}
main .kcpLeft .orderItem {
  display: flex;
  align-items: flex-start;
  gap: 18px;
}
main .kcpLeft .orderThumb {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  background: #f3f3f3;
  object-fit: cover;
  flex: 0 0 auto;
}
main .kcpLeft .orderDesc {
  flex: 1;
}
main .kcpLeft .orderDesc h4 {
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000;
}
main .kcpLeft .orderDesc p {
  margin: 0 0 8px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #000;
}
main .kcpLeft .orderDesc p:last-of-type {
  margin-bottom: 0;
}
main .kcpLeft .orderDesc .orderPrice {
  font-weight: 700;
  color: rgb(16, 16, 16);
}
main .kcpLeft .orderDesc .orderQty {
  margin-top: 10px;
  font-size: 14px;
  color: #000;
}
main .kcpLeft .orderDesc .orderQty span {
  font-weight: 700;
  color: rgb(16, 16, 16);
}
main .kcpRight h2 {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  line-height: 45px;
  letter-spacing: 0.05em;
  margin: 0 0 54px;
  text-transform: uppercase;
  text-align: center;
}
main .kcpRight .kcpForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(215, 215, 215);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 0 32px;
  border-radius: 10px;
}
main .kcpRight .kcpCard {
  background: #F8F8F8;
  padding: 30px 20px;
  border-radius: 10px;
}
main .kcpRight .kcpCard h3 {
  margin: 0 0 29px;
  font-size: 24px;
  font-weight: bold;
  line-height: 45px;
  letter-spacing: 0.02em;
  color: rgb(16, 16, 16);
}
main .kcpRight .radioLine {
  display: flex;
  align-items: flex-start;
  gap: 39px;
}
main .kcpRight .radioLine input[type=radio]:not(:checked), main .kcpRight .radioLine [type=radio]:checked {
  position: relative;
  opacity: 1;
  pointer-events: none;
  width: 50px;
  height: 50px;
  margin-top: 7.25px;
  accent-color: #006EFF;
}
main .kcpRight .radioLine label {
  display: flex;
  flex-direction: column;
  gap: 19px;
}
main .kcpRight .radioLine .shipHome {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #000;
}
main .kcpRight .radioLine .shipHome .helpText {
  margin-top: 19px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #000;
}
main .kcpRight .field {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 23px;
  margin-bottom: 29px;
}
main .kcpRight .field:last-child {
  margin-bottom: 0;
}
main .kcpRight .field .col:first-child {
  width: 180px;
  text-align: left;
}
main .kcpRight .field .col:first-child .input-title {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #000;
}
main .kcpRight .field .input-field.col {
  flex: 1;
  margin: 0;
  position: relative;
}
main .kcpRight .field.addr {
  flex-direction: column;
  align-items: stretch;
}
main .kcpRight .field.addr .col:first-child {
  width: 180px;
}
main .kcpRight .field.addr .zipCode {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 16px;
}
main .kcpRight .field.addr .zipCode .input-field.col {
  flex: 1;
}
main .kcpRight .field.addr .zipCode .input-btn.col {
  width: 180px;
}
main .kcpRight .field.addr .zipCode .input-btn.col .addrBtn {
  width: 100%;
  background-color: #fff;
  color: #000;
  line-height: 30px;
  letter-spacing: 0.2em;
  padding: 19px;
  border-radius: 10px;
}
main .kcpRight .field.memo {
  flex-direction: column;
  align-items: stretch;
  gap: 23px;
}
main .kcpRight .field.memo label {
  font-size: 15px;
  line-height: 30px;
  color: #324B96;
  letter-spacing: 0.02em;
}
main .kcpRight .field.memo #shipMemo {
  height: 208px;
  resize: none;
}
main .kcpRight .finalPrice dl {
  margin: 0;
}
main .kcpRight .finalPrice dl dt,
main .kcpRight .finalPrice dl dd {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
}
main .kcpRight .finalPrice dl dt {
  float: left;
  clear: both;
  color: #000;
  margin-bottom: 29px;
}
main .kcpRight .finalPrice dl dd {
  margin-left: 0;
  text-align: right;
  margin-bottom: 29px;
  color: rgb(16, 16, 16);
}
main .kcpRight .finalPrice .totalLine {
  clear: both;
  margin-top: 18px;
  padding-top: 18px;
  border-top: 1px solid rgb(215, 215, 215);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .kcpRight .finalPrice .totalLine span {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #000;
}
main .kcpRight .finalPrice .totalLine strong {
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 0.02em;
  color: rgb(16, 16, 16);
}
main .kcpRight .payment .payList {
  display: flex;
  flex-direction: column;
  gap: 29px;
  flex-wrap: wrap;
}
main .kcpRight .payment .payItem {
  display: flex;
  align-items: center;
  gap: 8px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  height: 68px;
}
main .kcpRight .payment .payItem input[type=radio] {
  width: 20px;
  height: 20px;
  accent-color: #006EFF;
}
main .kcpRight .payment .payItem label {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #000;
}
main .kcpRight .kcpBottom {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
main .kcpRight .kcpBottom .agreeLine {
  display: flex;
  align-items: center;
  gap: 11px;
}
main .kcpRight .kcpBottom .agreeLine input {
  display: none;
}
main .kcpRight .kcpBottom .agreeLine label {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #000;
}
main .kcpRight .kcpBottom .agreeLine .required {
  color: #FF3C00;
}
main .kcpRight .kcpBottom .payBtn {
  display: flex;
  width: 100%;
  background-color: #013BEA;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: bold;
  line-height: 45px;
  letter-spacing: 0.1em;
  border-radius: 10px;
  padding: 22px 102px;
  text-transform: uppercase;
}
main .kcpRight .kcpBottom .payBtn .payAmount {
  color: rgb(255, 255, 255);
  font-weight: bold;
}
main .kcpRight .kcpBottom .payBtn .payAmount span {
  color: rgb(255, 255, 255);
  font-weight: bold;
}
main .kcpRight .checkbox {
  width: 18px;
  height: 18px;
  border: 1px solid #013bea;
  border-radius: 2px;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  accent-color: #006EFF;
}
main .kcpRight .checkbox.checked {
  background: #013bea;
}

.row .col {
  padding: 0;
}

.input-field {
  margin: 0;
}
.input-field label {
  font-size: 15px;
  color: #324B96;
  line-height: 30px;
  letter-spacing: 0.05em;
  top: 50%;
  transform: translateY(-50%);
}
.input-field label.active {
  color: rgb(16, 16, 16) !important;
  top: -8px;
  transform: none;
  font-size: 15px;
  line-height: 10px;
  letter-spacing: 0.1em;
  transition: top 0.4s ease, font-size 0.5s ease, color 0.3s ease;
}

button {
  padding: 0;
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea,
textarea {
  background-color: rgb(255, 255, 255);
  margin: 0;
  border: 0 solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 2px 0;
  text-indent: 16px;
  font-size: 14px;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]),
textarea:focus:not([readonly]) {
  background-color: rgb(255, 255, 255);
  color: rgb(16, 16, 16);
  border: 1px solid rgb(16, 16, 16);
  box-shadow: none;
}/*# sourceMappingURL=kcp.css.map */