h2 {
  font-size: 30px;
  font-weight: bold;
  color: #006EFF;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 12px;
}

.login-tabs {
  display: flex;
  border-bottom: 1px solid #ADADAD;
  margin-bottom: 9px;
}

.login-tab {
  flex: 1;
  background: none;
  border: none;
  cursor: pointer;

  text-align: center;
  font-size: 12px;
  font-weight: normal;
  color: #ADADAD;

  position: relative;
}

.login-tab::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -1px;

  width: 100%;
  height: 1px;

  background-color: #006EFF;
  transform: translateX(-50%) scaleX(0);
  transition: transform 0.3s ease;
}

.login-tab[aria-selected="true"] {
  color:#000;
}

.login-tab[aria-selected="true"]::after {
  transform: translateX(-50%) scaleX(1);
  border-bottom: 2px solid #006EFF;
}