@use 'variables' as *;
//레이아웃
.checkbox{
  width: 18px;
  height: 18px;
  border: 1px solid #013bea;
  border-radius: 2px;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}
.checkbox.checked{
  background: #013bea;
}
.deleteBtn{
  background: #ff3c00;
  color: $white;
  border-radius: 4px;
  font-size: $product-title-tt;
  line-height: 18px;
  padding: 4px 10px;
  width: 71px;
}


// 장바구니 부분
.cartMain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
}
.cartMain h2{
  font-size: $main-tt;
  font-weight: bold;
  margin-bottom: 54px;
}
.cart{
  display: grid;
  grid-template-columns: 732px 475px;
  gap: 73px;
  max-width: 1280px;
}


.cartProduct{
  width: 100%;
  border: 1px solid #d1caca;
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
  padding: 54px 51px;
}
.cartProductTop{
  display: grid;
  grid-template-columns: 18px 1fr 71px;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
  padding: 10px 0 14px 0;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
  margin-bottom: 58px;
}
.cartProductTop input, .cartProductList ul li input{
  display: none;
}
.cartProductList #cartList{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cartProductList ul li{
  display: grid;
  grid-template-columns: 18px 144px 1fr 66px;
  align-items: start;
  gap: 20px;
}
.cartThumb{
  width: 144px;
  height: 144px;
  background: linear-gradient(135deg, 0% #fff, 25% #f9f9f9, 50% #fff, 75% #f9f9f9, 100% #fff);
  border: solid 1px #f6f6f6;
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
}
.cartDesc{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.cartDesc h4{
  font-size: $product-brand-tt;
  line-height: 20px;
  font-weight: bold;
}
.cartDesc p:first-of-type{
  font-size: $product-title-tt;
  line-height: 18px;
}
.cartDesc p:last-of-type{
  font-size: $product-title-tt;
}
.productPrice{
  font-size: $product-pricing-tt;
}
.cartBtns{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.countBtn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7px;
  width: 66px;
  height: 26px;
  border: 1px solid #013bea;
  border-radius: 4px;
}
.countBtn *{
  font-size: 12px;
}
.cart > div + div{
  display: flex;
  flex-direction: column;
  gap: 63px;
}
.price{
  width: 100%;
  height: 389px;
  border: 1px solid #d1caca;
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
  padding: 27px 52px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.price h3{
  font-size: 24px;
  line-height: 45px;
  font-weight: bold;
}
.price dl{
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  gap: 20px;
}
.price dl *{
  font-size: $button-tt;
}
.price dl dd{
  text-align: right;
}
.price dl dd:nth-child(4){
  color: #2323fd;
}
.price hr{
  width: 100%;
  height: 1px;
  background: rgba($color: #000000, $alpha: 0.5);
}
.price > span, .price > span span{
  font-size: $product-pricing-tt;
  font-weight: bold;
  align-self: flex-end;
}
.price a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 371px;
  height: 62px;
  padding: 22px 102px;
  border-radius: 10px;
  background: #013bea;
  color: #fff;
  font-weight: bold;
}
.price a span{
  color:#fff;
  font-weight: bold;
}
.gauge{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.gauge h3, .gauge h3 span{
  font-size: $product-pricing-tt;
  font-weight: bold;
}
.progressbar{
  position: relative;
  width: 100%;
  height: 20px;
  border: 1px solid #324b96;
  border-radius: 10px;
  overflow: hidden;
}
.progressbar .bar{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  background: rgba($color: #324b96, $alpha: 0.6);
}
.gauge > span{
  font-size: $product-brand-tt;
  font-weight: bold;
  line-height: 20px;
  align-self: flex-end;
}
.goSignUp{
  width: 100%;
  border: 1px solid #d1caca;
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
  padding: 27px 51px;
}
.goSignUp h3{
  font-size: 24px;
  font-weight: bold;
  line-height: 45px;
  span{
    color: #ff3c00;
  }
}
.goSignUp{
  .deleteBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 62px;
    font-size: $product-pricing-tt;
    color: #fff;
    border-radius: 10px;
    margin-top: 24px;
  }
}

// 추천상품

.moreProduct{
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.moreProduct > div{
  display: flex;
  flex-direction: column;
  gap: 54px;
}
.moreProduct .slideHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.moreProduct .slideHeader h3, .moreProduct .slideHeader h3 span{
  font-size: $product-pricing-tt;
  font-weight: bold;
}
.slideBtn{
  display: flex;
  align-items: center;
  gap: 10px;
}
.slideBtn button{
  width: 32px;
  height: 24px;
  border: 1px solid #013bea;
  border-radius: 4px;
  background: none;
}
.slideBtn button span{
  font-size: 12px;
  line-height: 12px;
  color: #000000;
}
.recommend{
  position: relative;
  width: 100%;
  height: 414px;
  overflow: hidden;
}
.recommend ul{
  display: flex;
  gap: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: left .3s ease-in;
  left:0;
}
.recommend ul li{
  position: absolute;
  top: 0;
  width: 305px;
  height: 414px;
  img{
    width: 305px;
    height: 294px;
    border: solid 1px #f6f6f6;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
  }
}

.moreDesc{
  display: flex;
  flex-direction: column;
  gap: 4px;
  h4{
    font-size: $product-brand-tt;
    line-height: 20px;
    font-weight: bold;
  }
  p{
    font-size: $product-title-tt;
    line-height: 18px;
  }
  .priceInfo{
    margin-top: 18px;
    span{
      font-size: 15px;
      line-height: 18px;
      span{
        font-size: $product-pricing-tt;
        font-weight: bold;
      }
      span.discount{
        color: #ff3c00;
      }
    }
    &>span:first-of-type{
      color: #ff3c00;
    }
  }
}
.moreViewBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 192px;
  height: 40px;
  border: 1px solid #c3c3c3;
  border-radius: 26.5px;
  justify-self: center;
  align-self: center;
}
button:disabled{
  pointer-events: none;
  opacity: 0.2;
}

// 반응형
@media screen and (max-width:1280px) {
  .cart{
    grid-template-columns: 1fr;
  }
  .price a{
    width: 100%;
  }
}
@media screen and (max-width:480px) {
  .recommend ul{
    width: 100%;
    
  }
  .recommend ul li{
    margin: 0 80px;
  }
}