@use 'variables' as *;
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: #000;
}
.hidden{
	position:absolute;
	clip-path:inset(50%);
	width: 1px;
	height: 1px;
	overflow:hidden;
  margin: -1px;
  padding: -1px;
}
body *{
  box-sizing: border-box;
  border: none;
}


//레이아웃
.container{
  width: 1280px;
  margin: 0 auto;
}
@mixin pd-lg($pd : 81px 0){
  padding: $pd;
}
.pd-lg{
  @include pd-lg();
}


//폰트
body *{
  color : $fontColer;
  font-family: "Open Sans", sans-serif;
}



// header
header{
 box-shadow: 0px 4px 3px rgba($color: #000000, $alpha: 0.05);
 padding: 37px 0;
 color: #424242;
}
header > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .topLeft{
  display: flex;
  align-items: center;
  gap: 53px;
}
header .topRight{
  display: flex;
  align-items: center;
  gap: 20px;
}
header div span.material-symbols-outlined{
  font-size: 30px;
  line-height: 30px;
}
header .topRight li:last-of-type a{
  font-size: $button-tt;
}
.account{
  display: flex;
  align-items: center;
  gap: 10px;
}
.account li a{
  border: 1px solid #595959;
  border-radius: 10px;
  width: 67px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}


//푸터
