@use 'variables' as *;
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: #000;
}
.hidden{
	position:absolute;
	clip-path:inset(50%);
	width: 1px;
	height: 1px;
	overflow:hidden;
  margin: -1px;
  padding: -1px;
}
body{
  position: relative;
}
body *{
  box-sizing: border-box;
  border: none;
}


//레이아웃
.container{
  width: 1280px;
  margin: 0 auto;
}
@mixin pd-lg($pd : 81px 0){
  padding: $pd;
}
.pd-lg{
  @include pd-lg();
}


//폰트
body *{
  color : $fontColer;
  font-family: "Open Sans", sans-serif;
}



// header
main{
  margin-top: 106px;
}
header{
  position: fixed;
  box-shadow: 0px 4px 3px rgba($color: #000000, $alpha: 0.05);
  padding: 37px 0;
  color: #424242;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
}
header > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .topLeft{
  display: flex;
  align-items: center;
  gap: 53px;
}
header .topRight{
  display: flex;
  align-items: center;
  gap: 20px;
}
header div span.material-symbols-outlined{
  font-size: 30px;
  line-height: 30px;
}
header .topRight li:last-of-type a{
  font-size: $button-tt;
}
.account{
  display: flex;
  align-items: center;
  gap: 10px;
}
.account li a{
  border: 1px solid #595959;
  border-radius: 10px;
  width: 67px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}


//푸터
footer{
  background: #2f3138;
  padding: 44px 357px;
  display: grid;
  grid-template-columns: 442px 623px;
  gap: 210px;
  justify-content: center;
}
footer *{
  color: $white;
}
.footerInfo{
  display: flex;
  flex-direction: column;
  gap: 49px;
}
.footerInfo ul{
  display: flex;
  gap: 20px;
  align-items: center;
}
.social{
  display: flex;
  margin-top: -16px;
  align-items: center;
  gap: 20px;
}
.social li img, .social li a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: $white;
}
.social li a{
  padding: 10px;
}
.social li a img{
  width: 22px;
  height: 22px;
}
.componyInfo{
  display: flex;
  gap: 20px;
}
.componyInfo .footerLeft{
  position: relative;
  padding: 0 20px 0 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 145px;
}
.componyInfo .footerLeft:before{
  position: absolute;
  content: '';
  width: 1px;
  height: 179px;
  background: #fff;
  right: 0;
  transform: translateY(10.5px);
}
.componyInfo .footerLeft li, .componyInfo .footerRight li, .footerInfo li{
  font-size: 15px;
  line-height: 20px;
}
.componyInfo .footerRight{
  width: 438px;
}


// 토글 메뉴
.toggleMenu{
  position: fixed;
  width: 640px;
  height: 100vh;
  background: #fff;
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
  top: 0;
  left: -100%;
  transition: 0.5s;
}
.toggleMenu.active{
  left: 0;
}
.toggleMenu > span{
  position: absolute;
  top: 25px;
  left: 20px;
  font-size: 30px;
  line-height: 20px;
}
.toggleMenu h2{
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  line-height: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 640px;
  height: 110px;
  border-bottom: 1px solid $line;
}
.toggleMenu > ul{
  border-right: 1px solid $line;
}
.toggleMenu > ul > li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 198px;
  height: 60px;
  background: #f3f3f3;
}
.toggleMenu > ul > li > ul{
  position: absolute;
  left: 100%;
  top: 0;
  width: 442px;
  display: none;
}
.toggleMenu > ul > li > ul.active{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.toggleMenu > ul > li > ul.active li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 83px 9px 41px;
  width: 100%;
  height: 48px;
}
.toggleMenu > ul > li ul.active li a{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  line-height: 30px;
  width: 100%;
  height: 100%;
}
.toggleMenu > ul > li > ul.active li:first-of-type{
  margin-top: 21px;
}
.toggleMenu > ul > li ul.active li span{
  font-size: 20px;
  transform: rotate(90deg);
  transition: 0.3s;
}
.toggleMenu > ul > li ul.active li.active span{
  transform: rotate(0);
}