/* Color styles */
$black: rgba(16, 16, 16, 1);
$white: rgba(255, 255, 255, 1);
$line: rgba(215, 215, 215, 1);
$fontColer:#424242;

/* Text-size styles */
$product-brand-tt: 12px;
$product-title-tt: 12px;
$product-pricing-tt: 18px;
$tab-label-tt: 11px;
$main-tt: 30px;
$button-tt: 15px;
